@{
    ViewBag.Title = "独立游戏《嚻》的主页欢迎您！";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Styles.Render("~/Content/Mobile")
@Scripts.Render("~/bundles/Mobile")

<div class="row">
    <blockquote>
        <p>关于独立游戏《X》</p>
    </blockquote>
    <p class="text-center" style="line-height:3rem">
        那一年<br>2013<br>两个七尺注定开始的热血<br>自此<br>一根网线的这头和那头<br>在每个午夜<br>屏幕映在瞳孔里<br>跳动的代码和图像<br>每天一块砖<br>我们共同的诺言<br>很多个日夜<br>我们将烟蒂揉灭<br>将思绪切换<br>很多个日夜<br>我们将草稿删除<br>重新勾勒<br>我们一直和自己碰撞<br>依然在路上<br>只为燃噬的岁月里有一丝感动
    </p>
</div>


