@{
    ViewBag.Title = "独立游戏《嚻》的主页欢迎您！";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@Styles.Render("~/Content/Mobile")
@Scripts.Render("~/bundles/Mobile")
<style>
    .swiper-container {
        width: 100%;
        height: 100%;
        min-height: 130px;
        padding: 5px;
    }

    .swiper-slide {
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 80px;
    }
    .repetition {
       -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
    }
    input,
select,
textarea {
    max-width: 100%;
}
</style>
<div class="row">
    <img src="~/Content/images/mobile/1.jpg" class="img-responsive" />
</div>
<div class="row" style="background-color: #000; padding-bottom: 1.5rem">
    <a href="#" data-bind="click:Mobile.viewModel.Schedule">
        <img src="~/Content/images/mobile/2.jpg" class="img-responsive animated pulse repetition" style="margin: 0 auto" />
    </a>
</div>

<!--预定-->
<div class="row" style="background-color: #000;">
    <div style="margin: 0 auto;width: 100%; text-align: center; display: none;">
        <img src="~/Content/images/349593316744282757.jpg" class="img-responsive" />
    </div>
    <div style="width:60%; margin:0 auto; margin-top: 2rem; display: none;" id="book">
        <div class="form-horizontal">
            <div class="form-group">
               
                <div class="col-xs-12">
                    <input type="text" class="form-control" data-bind="value:Mobile.viewModel.RequiredModel.Phone" placeholder="请输入手机">
                </div>
            </div>
            <div class="form-group">
               
                <div class="col-xs-12">
                    <input type="email" class="form-control" data-bind="value:Mobile.viewModel.RequiredModel.Email" placeholder="请输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default" style="background-color:#000000;color:#fff;" data-bind="click:Mobile.viewModel.SubMit">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto;margin-top: 3rem;margin-bottom: 3rem;width:100%;text-align:center;display:none" id="TotalCount">
        <h4 style="color:#fff;">预定成功！当前人数：<span data-bind="text:Mobile.viewModel.TotalCount" style="color:#a52a2a"></span>位</h4>
    </div>
</div>


<!--预定结束-->


















<div class="row" style="background-color:#000">
    @*<blockquote>
            <p style="color:#fff">图册展示</p>
        </blockquote>*@
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="img-responsive" src="../../Content/images/slide/1.jpg" />
            </div>
            <div class="swiper-slide"><img class="img-responsive" src="../../Content/images/slide/2.jpg" /></div>
            <div class="swiper-slide"><img class="img-responsive" src="../../Content/images/slide/3.jpg" /></div>
            <div class="swiper-slide"><img class="img-responsive" src="../../Content/images/slide/4.jpg" /></div>
            <div class="swiper-slide"><img class="img-responsive" src="../../Content/images/slide/5.jpg" /></div>
            <div class="swiper-slide"><img class="img-responsive" src="../../Content/images/slide/6.jpg" /></div>
        </div>
        <!-- Add Pagination -->
        @*<div class="swiper-pagination"></div>*@
    </div>
</div>
<div class="row" style="background-color:#000; padding-top: 14rem; padding-bottom: 4rem">
    <img src="~/Content/images/ABUIABAEGAAg6de6uwUoyNOdQzCgAziTAQ.png" class="img-responsive" style="margin: 0 auto; width: 60%;height: auto">
</div>
<div class="row" style="background-color: #000; padding-top: 3rem; padding-bottom: 3rem">
    <div class="col-xs-12">
        <div class="col-xs-6" style="text-align: right; color: #fff;">
            <div style="width: 100px; text-align: center; float: right">
                <p>游戏公众号</p>
                <img src="~/Content/images/ABUIABACGAAg_LnFuwUo2q-F6wEwrgM4rgM.jpg" style="width: 100px; height: auto;" />
            </div>
        </div>
        <div class="col-xs-6" style="text-align: left; color: #fff;">
            <div style="width: 100px; text-align: center;float: left">
                <p>作者微信</p>
                <img src="~/Content/images/ABUIABACGAAgyvzPuwUoiumP0wUw8Ac44Qc.jpg" style="width: 100px; height: auto;" />
            </div>
        </div>
    </div>
</div>
