@{
    ViewBag.Title = "独立游戏《嚻》的主页欢迎您！";
    Layout = "~/Views/Shared/_AoLayout.cshtml";
}
<div class="row">
    <div class="col-md-12" style="margin: 0 auto;">
        <img src="~/Content/images/ABUIABACGAAg_b7KuwUoos-33QcwmAM4MA.jpg" style="padding-top: 2rem;  width: 30%" />

    </div>
    <div class="col-md-12" style="position: relative;float: left;width:1330px;">
        <img class="" src="~/Content/images/ABUIABAEGAAg1YSwuwUo3su9eDCACjjsBA.png" style="padding-top: 6rem; " />
    </div>
    <div style="position: absolute;left:1330px;"><img src="~/Content/images/ABUIABADGAAgpevKuwUo75LGngIwrAI4kAM.gif" /></div>

</div>
