@{
    ViewBag.Title = "独立游戏《嚻》的主页欢迎您！";
    Layout = "~/Views/Shared/_AoLayout.cshtml";
}
@Styles.Render("~/Content/Home")
@Scripts.Render("~/bundles/Home")
<audio autoplay="true" loop="true"><source src="~/Content/Test.mp3"></audio>

<div class="row">
    <div style="margin: 0 auto;padding-top: 2rem;width:100%;text-align:center">
        <img src="~/Content/images/ABUIABACGAAg_b7KuwUoos-33QcwmAM4MA.jpg" />
    </div>
    <div style="width: 1280px; position: relative; height: 620px; overflow: hidden; margin: 0px auto; margin-top: 6rem;">
        <div style="position: absolute; width: 100%">
            <img class="" src="~/Content/images/ABUIABAEGAAg1YSwuwUo3su9eDCACjjsBA.png" />
        </div>

        <div style="position: absolute; left: 1015px;">
            <img src="~/Content/images/ABUIABADGAAgpevKuwUo75LGngIwrAI4kAM.gif" />
        </div>
        <div style="position: absolute; left: 475px; top: 230px">
            <img style="width: 196px; height: 110px" src="~/Content/images/ABUIABADGAAg2ajPuwUoxoyNsQMwtAE4eA.gif" />
        </div>
        <div style="width: 605px; height: 405px; position: absolute; top: 120px; left: 320px">
            <embed id="390" width="605" height="405" allowscriptaccess="always" style="visibility: visible;" pluginspage="http://get.adobe.com/cn/flashplayer/" flashvars="playMovie=true&amp;auto=1" allowfullscreen="true" quality="hight" src="~/Content/images/ABUIABAyGAAgtvXPuwUooMmmigM.swf" type="application/x-shockwave-flash" wmode="transparent">
        </div>
    </div>
    <div style="margin: 0 auto; padding-top: 2rem; width: 100%; text-align: center">
        <a href="#" data-bind="click:Home.viewModel.Schedule">
            <img src="~/Content/images/ABUIABAEGAAgztW6uwUo4JHfRjDyAjg4.png" style="width: 296px; height: auto" />
        </a>
    </div>

    <div style="margin: 0 auto; padding-top: 2rem; width: 100%; text-align: center;display:none">
        <img src="~/Content/images/349593316744282757.jpg" style="width: 710px; height: auto" />
    </div>
    <div style="width:520px; margin:0 auto; margin-top: 6rem;display:none" id="book">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="color:#fff">手机</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-bind="value:Home.viewModel.RequiredModel.Phone" placeholder="请输入手机">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="color:#fff">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" data-bind="value:Home.viewModel.RequiredModel.Email" placeholder="请输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" class="btn btn-default" style="background-color:#000000;color:#fff;" data-bind="click:Home.viewModel.SubMit">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto;margin-top: 5rem;width:100%;text-align:center;display:none" id="TotalCount">
        <h3 style="color:#fff;">当前预定人数：<span data-bind="text:Home.viewModel.TotalCount" style="color:#a52a2a"></span>位</h3>
    </div>

    <div id="slider1" style="width: 1120px; margin:0 auto; margin-top:3rem">
        <a class="buttons prev" href="#"><img src="~/Content/images/next.png" /></a>
        <div class="viewport">
            <ul class="overview">
                <li>
                    <a href="../../Content/images/slide/1.jpg">
                        <img src="../../Content/images/slide/1.jpg" />
                    </a>
                </li>
                <li>
                    <a href="../../Content/images/slide/2.jpg">
                        <img src="../../Content/images/slide/2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="../../Content/images/slide/3.jpg">
                        <img src="../../Content/images/slide/3.jpg" />
                    </a>
                </li>
                <li>
                    <a href="../../Content/images/slide/4.jpg">
                        <img src="../../Content/images/slide/4.jpg" />
                    </a>
                </li>
                <li>
                    <a href="../../Content/images/slide/5.jpg">
                        <img src="../../Content/images/slide/5.jpg" />
                    </a>
                </li>
                <li>
                    <a href="../../Content/images/slide/6.jpg">
                        <img src="../../Content/images/slide/6.jpg" />
                    </a>
                </li>
            </ul>
        </div>
        <a class="buttons next" href="#"><img src="~/Content/images/prev.png" /></a>

    </div>
    <div style="margin: 0 auto; margin-top: 15rem; width: 100%; text-align: center">
        <img src="~/Content/images/ABUIABAEGAAg6de6uwUoyNOdQzCgAziTAQ.png" style="width: 416px; height: auto" />
    </div>
    @*新闻部分*@
    @*<div style="color:#fff;width:650px;margin:0 auto;padding:6rem;" data-bind="foreach:Home.viewModel.Articles,visible:Home.viewModel.Articles().length!=0">
        <div class="media" style="margin-bottom:20px;">
            <div class="media-left">
                <a href="#" data-bind="click:Home.viewModel.ArticleDetail">
                    <img data-bind="attr:{src:ThumbnailUrl}" class="media-object" style="width: 80px; height: 80px;">
                </a>
            </div>
            <div class="media-body">

                <h4 class="media-heading">
                    <a href="#" data-bind="click:Home.viewModel.ArticleDetail,text:Title" style="color:#fff;text-decoration:none"></a>
                    <span class="pull-right" style="font-size:9px;" data-bind="date:UpdateTime"></span>
                </h4>

                <p data-bind="text:Description" style="margin-top:15px;line-height:20px;"></p>
            </div>
        </div>

    </div>*@
    <div style="margin: 0 auto;margin-top: 5rem;width:100%;text-align:center">
        <div class="col-md-6 text-center">
            <div style="width:125px; color:#d88014;float:right">
                <p>游戏公众号</p>
                <img style="width:125px; height:auto" src="~/Content/images/ABUIABACGAAg_LnFuwUo2q-F6wEwrgM4rgM.jpg" />
            </div>

        </div>
        <div class="col-md-6 text-center">
            <div style="width:125px; color:#d88014; float:left">
                <p>作者微信</p>
                <img style="width:125px; height:auto" src="~/Content/images/ABUIABACGAAgyvzPuwUoiumP0wUw8Ac44Qc.jpg" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="article-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" data-bind="text:Home.viewModel.Article.Title"></h4>
            </div>
            <div class="modal-body" data-bind="html:Home.viewModel.Article.Content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->